# Table of Contents
* [Lecture 2C - File I/O, Missing Values, Sorting and Ranking*](#Lecture-2C---File-I/O,-Missing-Values,-Sorting-and-Ranking*)
	* &nbsp;
		* [Content](#Content)
		* [Learning Outcomes](#Learning-Outcomes)
* [File Input/Output](#File-Input/Output)
	* [Importing data](#Importing-data)
		* [Microsoft Excel](#Microsoft-Excel)
		* [Importing Missing Data](#Importing-Missing-Data)
		* [Handling Missing Data](#Handling-Missing-Data)
	* [Writing Data to Files](#Writing-Data-to-Files)
* [Sorting and Ranking](#Sorting-and-Ranking)

# Lecture 2C - File I/O, Missing Values, Sorting and Ranking*

---

### Content

1. Reading data from files into data frames
2. Processing missing values in files
3. Methods for handling missing values in data frames
4. Writing data frames to files
5. Sorting and ranking values in data frames

\* This notebook material is adapted from Assoc. Prof. Fonnesbeck's tutorial on statistical data analysis in Python and closely follows "Python for Data Analysis: Data Wrangling with Pandas, NumPy, and IPython" By Wes McKinney.

### Learning Outcomes

At the end of this lecture, you should be able to:

* read data in csv and Excel formats from files into data frames    
* apply methods for processing missing values as inputs from files 
* apply various techniques for handling missing values in data frames 
* output data in data frames into a csv file formats
* use sort and rank operations on values in data frames

In [1]:
from IPython.core.display import HTML
HTML("<iframe src=http://pandas.pydata.org/pandas-docs/stable/io.html width=800 height=350></iframe>")

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Set some Pandas options as you like
pd.set_option('html', True)
pd.set_option('max_columns', 40)
pd.set_option('max_rows', 20)

In [4]:
#this line enables the plots to be embedded into the notebook
%matplotlib inline

# File Input/Output

## Importing data

A key, but often under-appreciated, step in data analysis is importing the data that we wish to analyze. 


Pandas provides a convenient set of functions for importing tabular data in a number of formats directly into a `DataFrame` object. 

These functions include a slew of options to perform type inference, indexing, parsing, iterating and cleaning automatically as data are imported. We will explore the most basic functionality.

Let's start with a popular dataset from the UCI repository called 'Wine' and stored in csv (comma delimited) format.

0,1,2,3,4,5,6,7,8,9,10,11,12,13
1,14.23,1.71,2.43,15.6,127,2.8,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.2,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.4,1050
1,13.16,2.36,2.67,18.6,101,2.8,3.24,0.3,2.81,5.68,1.03,3.17,1185
1,14.37,1.95,2.5,16.8,113,3.85,3.49,0.24,2.18,7.8,0.86,3.45,1480
1,13.24,2.59,2.87,21,118,2.8,2.69,0.39,1.82,4.32,1.04,2.93,735
1,14.2,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
1,14.39,1.87,2.45,14.6,96,2.5,2.52,0.3,1.98,5.25,1.02,3.58,1290
1,14.06,2.15,2.61,17.6,121,2.6,2.51,0.31,1.25,5.05,1.06,3.58,1295
1,14.83,1.64,2.17,14,97,2.8,2.98,0.29,1.98,5.2,1.08,2.85,1045
1,13.86,1.35,2.27,16,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045
1,14.1,2.16,2.3,18,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510
1,14.12,1.48,2.32,16.8,95,2.2,2.43,0.26,1.57,5,1.17,2.82,1280
1,13.75,1.73,2.41,16,89,2.6,2.76,0.29,1.81,5.6,1.15,2.9,1320
1,14.75,1.73,2.39,11.4,91,3.1,3.69,0.43,2.81,5.4,1.25,2.73,1150
1,14.38,1.87,2.38,12,102,3.3,3.64,0.29,2.96,7.5,1.2,3,1547
1,13.63,1.81,2.7,17.2,112,2.85,2.91,0.3,1.46,7.3,1.28,2.88,1310
1,14.3,1.92,2.72,20,120,2.8,3.14,0.33,1.97,6.2,1.07,2.65,1280
1,13.83,1.57,2.62,20,115,2.95,3.4,0.4,1.72,6.6,1.13,2.57,1130
1,14.19,1.59,2.48,16.5,108,3.3,3.93,0.32,1.86,8.7,1.23,2.82,1680
1,13.64,3.1,2.56,15.2,116,2.7,3.03,0.17,1.66,5.1,0.96,3.36,845
1,14.06,1.63,2.28,16,126,3,3.17,0.24,2.1,5.65,1.09,3.71,780
1,12.93,3.8,2.65,18.6,102,2.41,2.41,0.25,1.98,4.5,1.03,3.52,770
1,13.71,1.86,2.36,16.6,101,2.61,2.88,0.27,1.69,3.8,1.11,4,1035
1,12.85,1.6,2.52,17.8,95,2.48,2.37,0.26,1.46,3.93,1.09,3.63,1015
1,13.5,1.81,2.61,20,96,2.53,2.61,0.28,1.66,3.52,1.12,3.82,845
1,13.05,2.05,3.22,25,124,2.63,2.68,0.47,1.92,3.58,1.13,3.2,830
1,13.39,1.77,2.62,16.1,93,2.85,2.94,0.34,1.45,4.8,0.92,3.22,1195
1,13.3,1.72,2.14,17,94,2.4,2.19,0.27,1.35,3.95,1.02,2.77,1285
...

This table can be read into a DataFrame using `read_csv`:

In [5]:
wd = pd.read_csv("wine_data.csv")
wd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 0 to 177
Data columns (total 14 columns):
0     178 non-null int64
1     178 non-null float64
2     178 non-null float64
3     178 non-null float64
4     178 non-null float64
5     178 non-null int64
6     178 non-null float64
7     178 non-null float64
8     178 non-null float64
9     178 non-null float64
10    178 non-null float64
11    178 non-null float64
12    178 non-null float64
13    178 non-null int64
dtypes: float64(11), int64(3)
memory usage: 20.9 KB

Notice that `read_csv` automatically considered the first row in the file to be a header row. Our dataset does not have string names for the features in the column headers, but files of this type often do.

We can override default behaviour by customizing some the arguments, like `header`, `names` or `index_col`.

In [6]:
pd.read_csv("wine_data.csv", header=None).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0,1.00,2.00,3.00,4.0,5,6.00,7.00,8.00,9.00,10.00,11.00,12.00,13
1,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
2,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
3,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
4,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480

If we have sections of data that we do not wish to import (for example, known bad data), we can populate the `skiprows` argument:

In [7]:
pd.read_csv("wine_data.csv", skiprows=[1,2,3]).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
1,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
2,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
3,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
4,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295

Alternatively, selected columns can be read using `usecols`

In [8]:
pd.read_csv("wine_data.csv", usecols=[1,2]).head()

       1     2
0  14.23  1.71
1  13.20  1.78
2  13.16  2.36
3  14.37  1.95
4  13.24  2.59

If we only want to import a small number of rows from, say, a very large data file we can use `nrows`:

In [9]:
pd.read_csv("wine_data.csv", nrows=5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

**Exercise**: Write a script that reads the first 10 lines, and columns 6-12 of the file above.

In [10]:
pd.read_csv("wine_data.csv", nrows=10, usecols=range(13)[6:])

      6     7     8     9    10    11    12
0  2.80  3.06  0.28  2.29  5.64  1.04  3.92
1  2.65  2.76  0.26  1.28  4.38  1.05  3.40
2  2.80  3.24  0.30  2.81  5.68  1.03  3.17
3  3.85  3.49  0.24  2.18  7.80  0.86  3.45
4  2.80  2.69  0.39  1.82  4.32  1.04  2.93
5  3.27  3.39  0.34  1.97  6.75  1.05  2.85
6  2.50  2.52  0.30  1.98  5.25  1.02  3.58
7  2.60  2.51  0.31  1.25  5.05  1.06  3.58
8  2.80  2.98  0.29  1.98  5.20  1.08  2.85
9  2.98  3.15  0.22  1.85  7.22  1.01  3.55

### Microsoft Excel

Given that so much financial and scientific data ends up in Excel spreadsheets, Pandas' ability to directly import Excel spreadsheets is valuable. 

This support is contingent on having one or two dependencies installed, but the Python(xy) distribution has all the dependencies installed.

Since modern spreadsheets consist of one or more "sheets", we parse the sheet with the data of interest:

In [11]:
excel1 = pd.read_excel('wine_data.xls', sheetname='sheet1', header=None)
excel1.head()

   0      1     2     3     4    5
0  0   1.00  2.00  3.00   4.0    5
1  1  14.23  1.71  2.43  15.6  127
2  1  13.20  1.78  2.14  11.2  100
3  1  13.16  2.36  2.67  18.6  101
4  1  14.37  1.95  2.50  16.8  113

**Exercise**: Open the above excel file and read 'sheet2' into a data frame and print the first 5 records.

### Importing Missing Data

0,1,2,3,4
1,14.23,1.71,?,15.6
1,13.2,NaN,,11.2
,,-99999,None,
1,14.37,1.95,2.5,16.8
1,13.24,2.59,2.87,None
1,14.2,,2.45,15.2
1,14.39,1.87,,14.6
1,14.06,2.15,2.61,17.6
1,14.83,1.64,2.17,14
1,13.86,1.35,2.27,16
1,14.1,2.16,2.3,18
1,14.06,2.15,2.61,17.6
1,14.83,1.64,2.17,14
1,13.86,1.35,2.27,16
1,14.1,2.16,2.3,18

Most real-world data is incomplete, with values missing due to incomplete observation, data entry or transcription error, or other reasons. Pandas will automatically recognize and parse common missing data indicators, including `NA` and `NULL`.

In [12]:
pd.read_csv("wine_data_missing.csv").head(15)

     0      1         2     3     4
0    1  14.23      1.71     ?  15.6
1    1  13.20       NaN   NaN  11.2
2  NaN    NaN -99999.00  None   NaN
3    1  14.37      1.95   2.5  16.8
4    1  13.24      2.59  2.87  None
5    1  14.20       NaN  2.45  15.2
6    1  14.39      1.87   NaN  14.6
7    1  14.06      2.15  2.61  17.6
8    1  14.83      1.64  2.17    14
9    1  13.86      1.35  2.27    16
10   1  14.10      2.16   2.3    18
11   1  14.06      2.15  2.61  17.6
12   1  14.83      1.64  2.17    14
13   1  13.86      1.35  2.27    16
14   1  14.10      2.16   2.3    18

Above, Pandas recognized `NaN` and an empty field as missing data.

In [13]:
pd.isnull(pd.read_csv("wine_data_missing.csv")).head(15)

        0      1      2      3      4
0   False  False  False  False  False
1   False  False   True   True  False
2    True   True  False  False   True
3   False  False  False  False  False
4   False  False  False  False  False
5   False  False   True  False  False
6   False  False  False   True  False
7   False  False  False  False  False
8   False  False  False  False  False
9   False  False  False  False  False
10  False  False  False  False  False
11  False  False  False  False  False
12  False  False  False  False  False
13  False  False  False  False  False
14  False  False  False  False  False

Unfortunately, there will sometimes be inconsistency with the conventions for missing data. In this example, there is a question mark "?" and a large negative number where there should have been a positive integer. We can specify additional symbols with the `na_values` argument:

In [14]:
pd.read_csv("wine_data_missing.csv", na_values=['?', -99999]).head(20)

     0      1     2     3     4
0    1  14.23  1.71   NaN  15.6
1    1  13.20   NaN   NaN  11.2
2  NaN    NaN   NaN  None   NaN
3    1  14.37  1.95   2.5  16.8
4    1  13.24  2.59  2.87  None
5    1  14.20   NaN  2.45  15.2
6    1  14.39  1.87   NaN  14.6
7    1  14.06  2.15  2.61  17.6
8    1  14.83  1.64  2.17    14
9    1  13.86  1.35  2.27    16
10   1  14.10  2.16   2.3    18
11   1  14.06  2.15  2.61  17.6
12   1  14.83  1.64  2.17    14
13   1  13.86  1.35  2.27    16
14   1  14.10  2.16   2.3    18

**Exercise**: Modify the line above in order to specify to pandas explicitly that one remaining null-value 'None' needs to be recognized as such. Read the data into a data frame.

### Handling Missing Data

The occurrence of missing data is so prevalent that it pays to use tools like Pandas, which seamlessly integrates missing data handling so that it can be dealt with easily, and in the manner required by the analysis at hand.

Missing data are represented in `Series` and `DataFrame` objects by the `NaN` floating point value. However, `None` is also treated as missing, since it is commonly used as such in other contexts (*e.g.* NumPy).

Records containing NaN can be dropped:

In [16]:
wine_df.dropna()

NameError: name 'wine_df' is not defined

By default, `dropna()` drops entire rows in which one or more values are missing.

`dropna()` does not modify the data frame. We will see later how this can be done.

`dropna()` can be overridden by passing the `how='all'` argument, which only drops a row when every field is a missing value.

In [ ]:
wine_df.dropna(how='all')

This can be customized further by specifying how many values need to be present before a row is dropped via the `thresh` argument.

In [ ]:
wine_df.dropna(thresh=4)

We can specify a filter to list records that do not have any missing values on a particular feature.

In [ ]:
wine_df[wine_df['3'].notnull()]

**Exercise**: Write a script that lists records which have a null value for column 2.

Rather than omitting missing data from an analysis, in some cases it may be suitable to fill the missing value in, either with a default value (such as zero) or a value that is either imputed or carried forward/backward from similar data points. 

We can do this programmatically in Pandas with the `fillna` argument.

In [ ]:
wine_df.fillna(0)

We can also specify which column is to be filled with replacement values.

In [ ]:
wine_df['2'].fillna(0)

Missing values can also be interpolated, using any one of a variety of methods. The following example fills missing values with values that precede it by one row.

In [ ]:
wine_df

In [ ]:
wine_df.fillna(method='ffill')

More sophisticated imputation can be carried out.

In [ ]:
wine_df['3'].fillna(wine_df['3'].mean())

**Exercise**: Write a script that replaces all the null values in row '2' with the mean.

In order to make the changes permanent in both the `fillna()` and `dropna()` methods, it is necessary to pass the argument 'inplace=True'.

In [ ]:
wine_df.dropna(inplace=True)
wine_df

## Writing Data to Files

As well as being able to read several data input formats, Pandas can also export data to a variety of storage formats. Here we will bring your attention to storing data in the csv format.

In [ ]:
data = pd.DataFrame({'population':[3778000, 19138000, 20000, 447000, 4433000, 22680000, 10900, 549598],
                     'year':[2000, 2000, 2000, 2000, 2014, 2014, 2014, 2014],
                     'nation':['New Zealand', 'Australia', 'Cook Islands', 'Solomon Islands', 
                                'New Zealand', 'Australia', 'Cook Islands', 'Solomon Islands']})
data

In [ ]:
data.to_csv("population_data.csv")

The `to_csv` method writes a `DataFrame` to a comma-separated values (csv) file. You can specify custom delimiters (via `sep` argument), how missing values are written (via `na_rep` argument), whether the index is written (via `index` argument), whether the header is included (via `header` argument), among other options.

**Exercise**: Write a script that writes the values in the data frame wine_df (from the example above) to a csv file with an appropriate name.

Column names are much more meaningful if they are given appropriate names. As it turns out, the columns in the Wine dataset have meaningful names. The names are:

Col:Name
0)  Class
1)  Alcohol
2)  Malic acid
3)  Ash
4)  Alcalinity of ash

We will now rename the columns in the Wine dataset and re-write the dataset with the meaningful names into a file. The first step is to create a dictionary that maps the above column numbers to the new column names

**Exercise**: Create a dictionary that maps the above column numbers to the new column names.

Columns can be renamed by calling the *rename()* function on a data frame. Inside the function call, there are two arguments that we need to set. The first is *columns=*, which is assigned a dictionary object, and the second is the *inplace=* argument which we need to set to *True* in order to make our change permanent.

**Exercise**: Use the *rename()* function and your dictionary object to change the column names on the winde_df data frame.

**Exercise**: Write the wine_df data frame to  file as before. Then read it back again and list the names of all the columns in order to confirm that your column changes have been correctly written to file.

# Sorting and Ranking

Pandas objects include methods for re-ordering data.

Below example sorts a data frame by index values.

In [ ]:
data.sort_index(ascending=False)

Sort by values on a given feature.

In [ ]:
data.population.order(ascending=False)

For a `DataFrame`, we can sort according to the values of one or more columns using the `by` argument of `sort_index`:

In [ ]:
data[['nation','population','year']].sort_index(ascending=[False,True], by=['nation', 'population'])

**Exercise**: Write a script that sorts data by 'nation' and 'year' by ascending order..

Ranking does not re-arrange data, but instead returns an index that ranks each value relative to others in the Series.

In [ ]:
data.population.rank()

Calling the `DataFrame`'s `rank` method results in the ranks of all columns:

In [ ]:
data.rank(ascending=False)

**Exercise**: rank 'population','year' in data in a descending order

In [ ]:
%%javascript
require(['base/js/utils'],
function(utils) {
   utils.load_extensions('calico-spell-check', 'calico-document-tools', 'calico-cell-tools');
});